.imagen-inicio {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    position: static;
}

.imagen-inicio > img {
    position: relative;
    width: 100%;
    height: 100%;
}

.div-imagen-inicio {
    padding-top: 8em;
    padding-bottom: 8em;
}

.caja {
    position: absolute;
    display: inline-block;
    padding-left: 5%;
    padding-top: 5%;
    top: -7%;
    border-radius: 50% !important;
    background-color: aqua;
}

.caja1 {
    left: 18%;
}

.caja2 {
    left: 38%;
}

.caja3 {
    right: 38%;
}

.caja4 {
    right: 18%;
}

.w-100 {
    width:100%;
    max-width:1200px;
    max-height: 400px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}