@font-face {
    font-family: 'iconic-sm';
    src: url('iconic-sm.eot');
}
.imagen-inicio {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    position: static;
}

.imagen-inicio > img {
    position: relative;
    width: 100%;
    height: 100%;
}

.div-imagen-inicio {
    padding-top: 8em;
    padding-bottom: 8em;
}

.interesa {
    margin-top: 4em;
    text-align: center;
}

.interesa > li {
    display: inline-block;
    margin: 2em;
}

.interesa-img {
    margin:auto;
    display:block;
}

.interesa-texto {
    display:block;
    text-align: center;
    margin-top: 2em;
    font-weight: bold;
    font-size:2em;
}

.w-100 {
    width:100%;
    max-width:1200px;
    max-height: 400px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 140px;
    bottom: 90px;
    left: 10px;
    background: #343a40;
    overflow-x: hidden;
    padding: 8px 0;
    border: 4px solid rgba(230, 18, 32, 1);
    border-radius: 5px
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: block;
}

.sidenav a:hover {
    color: #06790c;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
.breadcrumb {background: rgba(92, 90, 90, 1); border: 4px solid rgba(245, 245, 245, 1); border-radius: 0px; display: block;}
.breadcrumb li {font-size: 15px;}
.breadcrumb a {color: rgba(230, 18, 32, 1);}
.breadcrumb a:hover {color: rgba(255, 255, 255, 1);}
.breadcrumb>.active {color: rgba(255, 255, 255, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\002F\00a0";}