@font-face {
    font-family: 'iconic-sm';
    src: url('iconic-sm.eot');
}

.imagen-inicio {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    position: static;
}

.imagen-inicio > img {
    position: relative;
    width: 100%;
    height: 100%;
}

.div-imagen-inicio {
    padding-top: 8em;
    padding-bottom: 8em;
}

.rectangulo {
    position: absolute;
    display: inline-block;
    top: 86%;
    text-align: center;
    padding-top:2%;
    height: 22%;
    width: 8%;
    background-color: #9A1A15;
    font-size: 2em;
    
    border-bottom: 6px solid #343a40;
}

.rectangulo:hover {
    background-color: rgb(179, 31, 26);
    
}

.rectangulo1 {
    left: 8%;
}

.rectangulo2 {
    left: 23%;
}

.rectangulo3 {
    left: 38%;
}

.rectangulo4 {
    right: 38%;
}

.rectangulo5 {
    right: 23%;
}

.rectangulo6 {
    right: 8%;
}

.caja {
    position: absolute;
    display: inline-block;
    top: -11%;
    height: auto;
    width: 10%;
}

.caja:hover {
    height: auto;
    width: 12%;
}
.caja1 {
    left: 10%;
}

.caja2 {
    left: 27%;
}

.caja3 {
    right: 45%;
}

.caja4 {
    right: 27%;
}

.caja5 {
    right: 10%;
}

.interesa {
    position:absolute;
    display: inline-block;
    top:50%;
    text-align:center;
    margin:auto;
    margin-top: 5%;
    text-align: center;
}

.interesa > li {
    display: inline-block;
    margin: 2em;
    
    height: 10%;
    width: 10%;
}

.interesa-img {
    margin:auto;
    display:block;
    height: 100%;
    width: 100%;
}

.interesa-texto {
    display:block;
    text-align: center;
    margin-top: 2em;
    font-weight: bold;
    font-size:2em;
}

.w-100 {
    width:100%;
    max-height: auto;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 140px;
    bottom: 100px;
    left: 10px;
    background: #343a40;
    overflow-x: hidden;
    padding: 8px 5px;
    border-radius: 5px
}

.sidenav a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: block;
}

.sidenav a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: bold;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
.breadcrumb {background: rgba(92, 90, 90, 1);  display: block;
   border-top: 1px solid gray;
   border-radius: 0px;
}
.breadcrumb li {font-size: 15px;}
.breadcrumb a {color: rgba(230, 18, 32, 1);}
.breadcrumb a:hover {color: rgba(255, 255, 255, 1);}
.breadcrumb>.active {color: rgba(255, 255, 255, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\002F\00a0";}

.menu-interesa {
    padding-top:1em;
    padding-bottom:1em;
    display: none;
    background-color: #343a40;
}

.menu-interesa > nav > a {
    text-align: center;
}

.menu-temas {
    padding-top:1em;
    padding-bottom:1em;
    display: none;
    background-color: #E9ECEF;
    border-bottom: 6px solid #343a40;
}

.menu-temas > nav > a {
    text-align: center;
}



@media only screen and (max-width: 700px) {
    .div-imagen-inicio {
        display:none;
    }
    .caja {
        display: none;
    }
    .menu-interesa {
        display: block;
    }
    .menu-temas {
        display: block;
    }
}

@media only screen and (max-width: 1000px) {
    .rectangulo {
        padding-top: 1%;
    }
}

.img-responsive {
    max-height: 500px;
}
.media{
    margin-top: 15px;
    margin-right: 20px;
}
.media-heading{
    padding: 6px;
    border-bottom: 1px solid gray;
}
.media-body{
    background: #343a40;
    padding: 0px 3px;
}
.btn-custom {
    background: #343a40; 
    border-color: rgba(255, 255, 255, 1); 
    color: rgba(255, 255, 255, 1); 
    font-size: 16px; 
    border-radius: 4px; 
    border-width: 1px; 
    padding: 0px, 0px, 0px, 3px;
    
}
.btn-custom:hover {background: rgba(255, 255, 255, 1); border-color: rgba(173, 173, 173, 1); color: rgba(51, 51, 51, 1);}
.btn-custom:active, .btn-custom:focus {background: rgba(235, 235, 235, 1); border-color: rgba(173, 173, 173, 1); color: rgba(51, 51, 51, 1);}

.text-center{
    width: 83%; 
    float: right; 
}
@media screen and (max-width: 900px) {
    .sidenav {
        display: none;
    }
    .sidenav a {font-size: 9px;}
    .text-center {
        max-height: 160px;
        margin: auto;
        width: 100%;
        float: unset;
    }
    .media{
        margin-left:20px;
    }
}
.card-title{
    border-bottom: 1px solid gray;
}
.card {
    background: solid #343a40;
}
